header {
  display: flex;
  justify-content: center;
  background-color: #6cb5b8;
  color: #fff;
  padding: 10px 0;
  width: 100%;
}

h2 {
  border: 3px solid #377771;
  width: 80%;
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
}

p {
  border: 3px solid #377771;
  width: 80%;
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
}
