body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; /* Set body height to viewport height */
  overflow-y: auto; /* Allow vertical scrolling */
}

header {
  display: flex;
  justify-content: center;
  background-color: #6cb5b8;
  color: #fff;
  padding: 10px 0;
  width: 100%;
}

.product_container {
  display: flex;
}
.product_container_2nd {
  display: flex;
}

.product {
  border: 3px solid #377771;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  margin: 15px; /* Add margin for space between products */
}

footer {
  background-color: #6cb5b8;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: relative; /* Change position to relative */
  width: 100%;
  margin-top: auto; /* Set margin-top to auto to push it to the bottom */
}

/* Ensure main content is pushed down to avoid being hidden under fixed header */
main {
  padding-top: 60px; /* Adjust to match header height */
  padding-bottom: 60px; /* Adjust to match footer height */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #ffffff;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cart-icon {
  position: fixed; /* Fixed position */
  right: 20px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background-color: #377771;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.produktBild {
  display: flexbox;
  width: 40%;
}
