body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: auto;
}

header {
  display: flex;
  justify-content: center;
  background-color: #6cb5b8;
  color: #fff;
  padding: 10px 0;
  width: 100%;
}

.product_container {
  display: flex;
}
.product_container_2nd {
  display: flex;
}

.product {
  border: 3px solid #377771;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  margin: 15px;
}

footer {
  background-color: #6cb5b8;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: relative;
  width: 100%;
  margin-top: auto;
}

main {
  padding-top: 60px;
  padding-bottom: 60px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #ffffff;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cart-icon {
  position: fixed;
  right: 20px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  background-color: #377771;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.produktBild {
  display: flexbox;
  width: 40%;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #377771;
  border-radius: 7%;
}

button:active {
  opacity: 50%;
}
